# Import Pandas

In [18]:
import pandas as pd

# Exercice 1
Write a Pandas program to join the two given dataframes along rows and merge with another dataframe along the common
column id

In [40]:
# Création du premier dataframe
students1 = pd.DataFrame({
    'student_id': ['S1','S2','S3','S4','S5'],
    'name': ['Danniella Fenton','Ryder Storey','Bryce Jensen','Ed Bernal','Kwame Morin'],
    'marks': [200,210,190,222,199]
})
print(students1)

  student_id              name  marks
0         S1  Danniella Fenton    200
1         S2      Ryder Storey    210
2         S3      Bryce Jensen    190
3         S4         Ed Bernal    222
4         S5       Kwame Morin    199

In [43]:
# Création du second dataframe
students2 = pd.DataFrame({
    'student_id': ['S4','S5','S6','S7','S8'],
    'name': ['Scarlette Fisher','Carla Williamson','Dante Morse','Kaiser William','Madeeha Preston'],
    'marks': [201,200,198,219,210]
})
print(students2)

  student_id              name  marks
0         S4  Scarlette Fisher    201
1         S5  Carla Williamson    200
2         S6       Dante Morse    198
3         S7    Kaiser William    219
4         S8   Madeeha Preston    210

In [44]:
# Création du troixième dataframe
exam_data = pd.DataFrame({
    'student_id': ['S1','S2','S3','S4','S5','S7','S6','S9'],
    'exam_id': [23,45,12,67,21,55,33,14]
})
print(exam_data)

  student_id  exam_id
0         S1       23
1         S2       45
2         S3       12
3         S4       67
4         S5       21
5         S7       55
6         S6       33
7         S9       14

In [3]:
# fusionner les deux dataframes (students1 et students 2)

In [2]:
# joindre le résultat avec le dataframe exam_data

# Exercice 2

In [88]:
import numpy as np
data = pd.DataFrame({"numbers": ["#23", "#24", "#18", "#14", "#12", "#10", "#35"],
                   "nums": ["23", "24", "18", "14", np.nan, "XYZ", "35"],
                   "colors": ["green", "red", "yellow", "orange", "purple", "blue", "pink"],
                   "other_column": [0, 1, 0, 2, 1, 0, 2]})
print(data)

  numbers nums  colors  other_column
0     #23   23   green             0
1     #24   24     red             1
2     #18   18  yellow             0
3     #14   14  orange             2
4     #12  NaN  purple             1
5     #10  XYZ    blue             0
6     #35   35    pink             2

**Q1.** Afficher le **mean** de la colonne **numbers**

**Q2.** Afficher le type des données stockées dans chaque colonne

# Exercice 3
**Q1.** Ecrivez un programme Pandas pour détecter les valeurs manquantes d'un DataFrame donné. Afficher vrai ou faux. Les données sont stockées dans le fichier **employes.csv**.

In [1]:
# Charger le fichier employes.csv

In [ ]:
# Vérifier les colonnes vides

**Q2.** Ecrivez un programme Pandas pour identifier la ou les colonnes d'un DataFrame donné qui ont au moins une valeur manquante.

**Q3.** Ecrivez un programme Pandas permettant la suppression des lignes qui ont au moins une valeur manquante.

**Q4.** Ecrivez un programme Pandas pour supprimer les colonnes qui ont au moins une valeur manquante.

**Q5.** Changer les noms des colonnes comme suit : code, montant, date, client, vendeur

**Q6.** Afficher les commandes passées après le 2012-09-10

## Visualization avec Mathplot

In [106]:
# Afficher le montant des commandes pour chaque date

In [107]:
# Trier le dataframe par date ASC

In [108]:
# Afficher le chiffre d'affaire obtenu chaque jour